Repository shortlist-digital/tapestry-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove in-progress work
  bin/index.js
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add in throng to start script, remove parseInt from PORT lookup
  bin/start.js
  package.json
  src/config/createWebpackConfig.js
  src/config/production-server.js
  src/server/index.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.0-1
  package.json
Due: editorconfig-tools fix

Update host to 0.0.0.0
  src/server/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.0-2
  package.json
Due: editorconfig-tools fix

Revert version
  package.json
Due: editorconfig-tools fix

give redirects mock api it's own url
  test/server/redirects.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

I actually hope this doesn't work
  package.json
Due: editorconfig-tools fix

Remove react-router and react-inspector, update chunk splitting config, handle missing data in escape script util
  package.json
  src/config/createWebpackConfig.js
  src/server/render/missing-view/index.js
  src/server/utilities/stringify-escape-script.js
  test/fixtures/build-default/components/front-page.js
  test/fixtures/build-with-custom-babel/components/front-page.js
  test/fixtures/build-with-custom-webpack/components/front-page.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove react-router dependency
  package.json
  src/client/root.js
  src/server/handlers/dynamic.js
  src/server/utilities/match-routes.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Reverted WIP change
  package.json
  src/client/root.js
  src/server/handlers/dynamic.js
  src/server/utilities/match-routes.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.0-3
  package.json
Due: editorconfig-tools fix

Replace react-router matchRoutes with utility script
  package.json
  src/client/root.js
  src/server/handlers/dynamic.js
  src/server/routing/prepare-app-routes.js
  src/server/utilities/match-routes.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

oops
  src/client/root.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Minor CLI messaging improvments
  bin/build.js
  bin/dev.js
  bin/index.js
  bin/start.js
  src/config/createWebpackConfig.js
  src/config/hot.js
  src/config/production-server.js
  src/server/handlers/redirect.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix phony requires, update DefinePlugin to use process.env
  .eslintrc.json
  src/client/index.js
  src/config/createWebpackConfig.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.0-4
  package.json
Due: editorconfig-tools fix

Revert env update
  .eslintrc.json
  src/client/index.js
  src/config/createWebpackConfig.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.0-5
  package.json
Due: editorconfig-tools fix

Make not-found-route consistent across client and server
  src/client/root.js
  src/server/handlers/dynamic.js
  src/server/routing/match-routes.js
  src/server/routing/prepare-app-routes.js
  src/server/utilities/match-routes.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Upgrade to babel 7
  package.json
  src/config/babel.js
  src/config/createWebpackConfig.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix static file serving from hidden .tapestry directory
  src/config/createWebpackConfig.js
  src/server/handlers/static.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix tests, only create file when web or dev
  src/config/createWebpackConfig.js
  test/integration/build.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Handle dev server
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Allow custom babel-rc and importable 'tapestry-lite/babel' preset
  babel.js
  src/config/babel.js
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix babel-register, remove user configurability
  babel.js
  package.json
  src/config/babel.js
  src/config/createWebpackConfig.js
  test/babel-register.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Custom babelrc
  package.json
  src/config/createWebpackConfig.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.0-6
  package.json
Due: editorconfig-tools fix

Fix object spread usage, object.assign polyfill to come
  package.json
  src/config/babel.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Use webpack target to modify babel transform targets
  src/config/babel.js
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Highway to the Danger Zone
  src/server/data-fetching/api-fetch.js
  src/server/handlers/dynamic.js
  src/server/handlers/purge.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Ride into the Danger Zone
  src/server/data-fetching/api-fetch.js
  src/server/handlers/dynamic.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Headin' into twilight
  src/client/root.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fixed dev server path
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Gonna take it right into the Danger Zone
  src/server/data-fetching/fetch-from-endpoint-config.js
  src/server/data-fetching/normalize-api-response.js
  src/server/handlers/dynamic.js
  src/server/render/tree-to-html.js
  src/server/utilities/cache-manager.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

No more lyrics
  src/client/root.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Handle API 404 and error view
  src/server/handlers/dynamic.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix babel call as function
  test/babel-register.js
  yarn.lock
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  node_modules/.bin/eslint . --fix --cache: any of: *.js
  node_modules/.bin/prettier --config .prettierrc --write: any of: *.js
