Repository shortlist-digital/tapestry-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "node_modules/.bin/eslint . --fix --cache",
    "node_modules/.bin/prettier --config .prettierrc --write",
    "git add"
  ]
}

Removed most silly logs, they were polluting logentries and were impossible to understand. Added a couple of minor updates to 404 logic and added a test for CMS_ENDPOINT as its a common issue
  bin/index.js
  src/server/data-fetching/api-fetch.js
  src/server/data-fetching/fetch-from-endpoint-config.js
  src/server/handlers/dynamic.js
  src/server/render/tree-to-html.js
  src/server/utilities/cache-manager.js
  src/server/utilities/normalise-url-path/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

handle empty path
  src/server/utilities/normalise-url-path/index.js
  src/server/utilities/normalise-url-path/index.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix ridiculous thing
  src/server/data-fetching/api-fetch.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

yarn upgrade-interactive --latest
  package.json
  yarn.lock
Due: editorconfig-tools fix

Revert stupid process.env check
  bin/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.0-7
  package.json
Due: editorconfig-tools fix

Remove allowEmpty functionality
  src/config/validator.js
  src/server/data-fetching/api-fetch.js
  src/server/data-fetching/fetch-from-endpoint-config.js
  src/server/data-fetching/normalize-api-response.js
  src/server/handlers/dynamic.js
  src/server/routing/default-routes.js
  test/server/response.test.js
  test/server/wordpress-dot-com.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Split rendering of success and error views
  src/server/handlers/dynamic.js
  test/server/cache.disabled.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

re-enabled cache
  src/server/handlers/dynamic.js
  test/server/cache.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

potentially removing mutability error?
  src/server/handlers/dynamic.js
  src/server/render/tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.0
  package.json
Due: editorconfig-tools fix

handle empty response
  src/server/handlers/dynamic.js
  test/server/response.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.1
  package.json
Due: editorconfig-tools fix

cache logging
  src/server/data-fetching/api-fetch.js
  src/server/handlers/purge.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

await cache result
  src/server/handlers/purge.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

actually purge things
  src/server/handlers/dynamic.js
  test/server/cache.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.2
  package.json
Due: editorconfig-tools fix

Update globals in project to NODE_ENV and BUILD_TARGET
  .eslintrc.json
  src/client/index.js
  src/config/createWebpackConfig.js
  src/config/env.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Move scripts inside body (why were they outside??), remove dud test file
  src/server/render/default-document/index.js
  test/server/cache.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Tidy config file for readability
  src/config/createWebpackConfig.js
  src/config/env.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

WIP
  bin/build.js
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.3
  package.json
Due: editorconfig-tools fix

initial foray into migration mode madness
  src/client/index.js
  src/server/render/tree-to-html.js
  test/server/document.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Use values and not key
  src/config/env.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.4
  package.json
Due: editorconfig-tools fix

Only cache if not a preview
  src/server/handlers/dynamic.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Booleanise preview
  src/server/handlers/dynamic.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.0.5
  package.json
Due: editorconfig-tools fix

Implement loadable-components
  package.json
  src/client/index.js
  src/config/createWebpackConfig.js
  src/server/render/default-document/index.js
  src/server/render/tree-to-html.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update tapestry data key
  src/client/index.js
  src/client/root.js
  src/server/render/default-document/index.js
  test/server/document.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Tidyin
  src/server/render/tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add tiny fetch polyfill
  package.json
  src/client/index.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove replaced isomorphic-fetch
  package.json
  src/server/data-fetching/fetcher.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Added promise polyfill for ie
  package.json
  src/client/index.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

replace path-to-regexp and simplify route matching logic
  package.json
  src/server/routing/match-routes.js
  src/server/routing/prepare-app-routes.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Removed idx/prop-types, removed includes polyfill requirement
  src/client/root.js
  src/server/render/default-document/index.js
  src/server/render/default-error/index.js
  src/server/render/error-view.js
  src/server/render/missing-view/index.js
  src/server/routing/prepare-app-routes.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Removed path-to-regexp package
  package.json
  yarn.lock
Due: editorconfig-tools fix

Fix test, change includes syntax for ie
  src/server/render/error-view.js
  test/fixtures/build-with-dynamic-import/tapestry.config.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.1.0
  package.json
Due: editorconfig-tools fix

Filter falsey routes before mapping
  src/server/routing/match-routes.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write
