Repository shortlist-digital/tapestry-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

request headers are included in _tapestry based on tapestry.config request
  src/server/handlers/dynamic.js
  src/server/render/render-success-tree.js
  src/server/render/render-tree-to-html.js
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

fixed potential absence of headers + added header functionality to documentation
  readme.md
  src/server/handlers/dynamic.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

array check for user-defined headers
  src/server/handlers/dynamic.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

testing added for client header access
  package.json
  src/server/handlers/dynamic.js
  test/server/headers.test.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

removed unused imports
  test/server/headers.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

updated changelog + package.json to 5.2.0
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

testing loadable components update
  package.json
  yarn.lock
Due: editorconfig-tools fix

using @loadable in hydrate
  package.json
  src/client/index.js
  test/fixtures/build-with-dynamic-import/tapestry.config.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

updated react-hot-loader
  package.json
  yarn.lock
Due: editorconfig-tools fix

dangerously got rid of getLoadableState
  src/server/render/default-document/index.js
  src/server/render/render-tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

got rid of old loadable entirely
  package.json
  src/config/babel.js
  src/config/createWebpackConfig.js
  src/server/render/default-document/index.js
  src/server/render/render-tree-to-html.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

should allow updated react to run and hot-loading to work
  bin/build.js
  package.json
  src/client/index.js
  src/client/root.js
  src/config/createWebpackConfig.js
  src/server/render/default-document/index.js
  src/server/render/render-tree-to-html.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

moved @loadable things to devDependencies
  package.json
Due: editorconfig-tools fix

added cache key modifier
  CHANGELOG.md
  package.json
  readme.md
  src/server/handlers/dynamic.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

tweaks to cache handler to avoid mutations
  readme.md
  src/server/handlers/dynamic.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

slight tweak to cache handler func
  src/server/handlers/dynamic.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

wip fixreact
  yarn.lock
Due: none

WIP
  package.json
  src/client/index.js
  src/client/root.js
  src/config/babel.js
  src/config/config-proxy.js
  src/config/createWebpackConfig.js
  src/server/render/default-document/index.js
  src/server/render/render-tree-to-html.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Upgrade React to hooks version and upgrade react-hot-loader
  package.json
  src/client/root.js
  src/config/config-proxy.js
  src/config/createWebpackConfig.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Upgrade loadable-components to match new React version
  package.json
  src/client/index.js
  src/config/babel.js
  src/config/createWebpackConfig.js
  src/server/render/default-document/index.js
  src/server/render/render-tree-to-html.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Initial work on loadable-components module update
  bin/build.js
  src/config/createWebpackConfig.js
  src/server/render/default-document/index.js
  src/server/render/render-tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Upgrade packages
  package.json
  yarn.lock
Due: editorconfig-tools fix

WIP
  src/server/render/default-document/index.js
  src/server/render/render-tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix missing stats file
  src/server/render/default-document/index.js
  src/server/render/render-tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

corejs version 2 enforced
  src/config/babel.js
  yarn.lock
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

updated @babel dependencies; set corejs to v2
  package.json
  yarn.lock
Due: editorconfig-tools fix

esmodule option erased
  .eslintrc.json
  bin/build.js
  readme.md
  src/client/index.js
  src/config/babel.js
  src/config/createWebpackConfig.js
  src/config/env.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update version
  package.json
Due: editorconfig-tools fix

Bump version, update changelog
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Update React Helmet to async version
  package.json
  src/client/index.js
  src/server/render/render-tree-to-html.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix tests
  test/server/component.test.js
  test/server/document.test.js
  test/server/error-view.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Restore dependencies
  src/client/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add new cachePurgeHandler functionality to handle multiple cache keys for a single path
  src/server/handlers/dynamic.js
  src/server/handlers/purge.js
  src/server/index.js
  src/server/utilities/cache-manager.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Create test for multiple cache keys
  test/server/cache.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update readme and other bits
  CHANGELOG.md
  package.json
  readme.md
Due: editorconfig-tools fix

Fix: Cache purge (#109)
  CHANGELOG.md
  package.json
  readme.md
  src/server/handlers/dynamic.js
  src/server/handlers/purge.js
  src/server/index.js
  src/server/utilities/cache-manager.js
  test/server/cache.test.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

update some dependencies to fix lodash security alerts
  package.json
  yarn.lock
Due: editorconfig-tools fix

added a log to cache moment
  src/server/handlers/dynamic.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Bump assets-webpack-plugin version to resolve Lodash package vulnerabilities
  package.json
Due: editorconfig-tools fix

Upgrade Hapi WIP
  package.json
  src/server/index.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  node_modules/.bin/eslint . --fix --cache: any of: *.js
  node_modules/.bin/prettier --config .prettierrc --write: any of: *.js
