Repository shortlist-digital/tapestry-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update versions
  package.json
  yarn.lock
Due: editorconfig-tools fix

Further WIP
  package.json
  yarn.lock
Due: editorconfig-tools fix

Node version, make all of the things work
  bin/index.js
  package.json
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove log
  bin/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update webpack
  package.json
  yarn.lock
Due: editorconfig-tools fix

Remove Inert from test
  test/server/document.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove editorconfig and precommit hook
  .editorconfig
  .lintstagedrc
  package.json
  yarn.lock
Due: editorconfig-tools fix

Decode req pathname
  src/server/handlers/redirect.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

test circle
  readme.md
Due: editorconfig-tools fix

Add option chaining plugin
  package-lock.json
  package.json
  src/config/babel.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Formatting
  src/config/babel.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Upgrade hapi (#116)
  package-lock.json
  package.json
  src/config/babel.js
  src/server/handlers/redirect.js
  src/server/index.js
  test/server/document.test.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Release v6.2.0
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Make babel plugin a dep
  package.json
Due: editorconfig-tools fix

Release v6.2.1
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

BEV-253: secured XSS defenses for Preview urls
  src/server/render/default-document/index.js
  src/server/utilities/sanitize-query-values.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

added unit tests to sanitizeQueryParams function
  src/server/utilities/sanitize-query-values/index.js
  src/server/utilities/sanitize-query-values/index.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

version bump, changelog, a bit of code cleanup
  CHANGELOG.md
  package.json
  src/server/utilities/sanitize-query-values/index.js
  src/server/utilities/sanitize-query-values/index.test.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

updated release version to 6.3.1
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

apply gouda endpoint
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

stop redis caching for books endpoint
  src/server/handlers/dynamic.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

add cache tests for /books/ articles
  package-lock.json
  src/server/handlers/dynamic.js
  src/server/render/tapestry-render.js
  test/server/response.test.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

update variable naming and readme
  readme.md
  src/server/render/tapestry-render.js
  test/server/response.test.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Creates nonCacheable endpoint (#123)
  package-lock.json
  readme.md
  src/server/handlers/dynamic.js
  src/server/render/tapestry-render.js
  test/server/response.test.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

update version on package.json
  package.json
Due: editorconfig-tools fix

add package-lock.json to .gitignore
  .gitignore
Due: none

update version on package.json to 6.4.1 (#124)
  .gitignore
  package.json
Due: editorconfig-tools fix

bugfix nonCacheableEndpoint not called for previews
  src/server/render/tapestry-render.js
  test/server/response.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

bugfix nonCacheableEndpoint not called for previews (#125)
  src/server/render/tapestry-render.js
  test/server/response.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

update package.json and CHANGELOG
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

update package.json and CHANGELOG (#126)
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

WIP - Return comp needs as object, granular caching, compose HTML results at a higher level
  readme.md
  src/server/handlers/dynamic.js
  src/server/render/default-document/index.js
  src/server/render/render-success-tree.js
  src/server/render/render-tree-to-html.js
  src/server/render/tapestry-render.js
  src/server/template/index.js
  test/server/document.test.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Rm args
  src/server/render/render-tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Rm return vals
  src/server/render/render-tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

rename nonCacheableEndpoint to secondaryEndpoint and puts redis cache back
  src/server/handlers/dynamic.js
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

rename nonCacheableEndpoint to secondaryEndpoint and puts redis cache back (#128)
  src/server/handlers/dynamic.js
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

update package.json and CHANGELOG (#129)
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Tests
  src/server/handlers/dynamic.js
  src/server/render/render-error-tree.js
  src/server/render/tapestry-render.js
  test/server/cache.test.js
  test/server/component.test.js
  test/server/custom-component.test.js
  test/server/default-component.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  node_modules/.bin/eslint . --fix --cache: any of: *.js
  node_modules/.bin/prettier --config .prettierrc --write: any of: *.js
