Repository shortlist-digital/tapestry-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add null to routing test routes
  test/server/routing.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.1.1
  package.json
Due: editorconfig-tools fix

Revert matchit route match update
  package.json
  src/server/routing/match-routes.js
  src/server/routing/prepare-app-routes.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add in missing reversions
  src/server/routing/prepare-app-routes.js
  test/server/routing.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.1.2
  package.json
Due: editorconfig-tools fix

Handle /api/v1/ requests and proxy through to CMS
  src/server/handlers/api.js
  src/server/index.js
  test/server/proxies.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Handle null search
  src/server/handlers/api.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.2.0
  package.json
Due: editorconfig-tools fix

verbose console output all the time
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.1.3
  package.json
Due: editorconfig-tools fix

1.2.1
  package.json
Due: editorconfig-tools fix

add disable doctype option
  src/server/render/tree-to-html.js
  test/server/document.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

add changelog
  CHANGELOG.md
Due: editorconfig-tools fix

1.3.0
  package.json
Due: editorconfig-tools fix

Add request params to __TAPESTRY_DATA__
  src/server/handlers/dynamic.js
  src/server/render/tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Reconfigure appData object
  src/client/root.js
  src/server/handlers/dynamic.js
  src/server/render/tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Pass bootstrap data to target component
  src/server/render/tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fixed missing initial server render
  src/server/render/tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix tests - make string matching more tolerant
  test/server/document.test.js
  test/server/preview.test.js
  test/server/routing.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove unnecessary test helper
  test/server/preview.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add missing keys
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Only watch in Node dev mode
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Move request Data into new _tapestry key
  src/client/root.js
  src/server/render/default-document/index.js
  src/server/render/tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Amend tests
  test/server/document.test.js
  test/server/preview.test.js
  test/server/routing.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Bumped test timeout
  test/integration/build.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove log
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

testing
  test/integration/build.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add _tapestry prop to response component
  src/client/root.js
  src/server/render/tree-to-html.js
  test/server/routing.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update changelog and bump version
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Remove bail flag in tests
  package.json
Due: editorconfig-tools fix

Amend changelog and version number
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Use v2 config
  .circleci/config.yml
Due: none

Add updated config
  .circleci/config.yml
Due: none

Update packages
  package.json
  yarn.lock
Due: editorconfig-tools fix

Remove matchRoutes from client
  src/client/root.js
  src/server/routing/default-routes.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Bump version and changelog
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Fix loadable state regression
  src/server/render/tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

revert to beta.47
  package.json
  yarn.lock
Due: editorconfig-tools fix

Bump version, update changelog
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Path conditions:
  editorconfig-tools fix: any of: *.{md,sh,txt,xml,html,json}
  node_modules/.bin/eslint . --fix --cache: any of: *.js
  node_modules/.bin/prettier --config .prettierrc --write: any of: *.js
