Repository shortlist-digital/tapestry-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "node_modules/.bin/eslint . --fix --cache",
    "node_modules/.bin/prettier --config .prettierrc --write",
    "git add"
  ]
}

Add test
  test/server/cache.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

WIP
  package.json
  src/client/index.js
  src/client/root.js
  src/server/data-fetching/api-fetch.js
  src/server/data-fetching/fetcher.js
  src/server/data-fetching/normalize-api-response.js
  src/server/render/error-view.js
  src/server/render/render-error-tree.js
  src/server/render/render-success-tree.js
  src/server/render/render-tree-to-html.js
  src/server/render/tapestry-render.js
  test/server/error-view.test.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Improve error handling in render, add support for route.error to 404 when requested
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Improve error views
  src/server/render/error-view.js
  test/server/error-view.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove console log
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Bump version, update changelog
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Upgrade packages
  package.json
  yarn.lock
Due: editorconfig-tools fix

Handle 404 API from multiple endpoints
  src/client/root.js
  src/server/data-fetching/api-fetch.js
  src/server/data-fetching/normalize-api-response.js
  src/server/render/render-tree-to-html.js
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add tests, fix broken tests
  src/server/render/render-tree-to-html.js
  test/server/response.test.js
  test/server/routing.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Simplify shouldError code
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add test for array and object 404 response
  test/server/response.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix module assets lookup, shorten output hash
  src/config/createWebpackConfig.js
  src/server/render/default-document/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Allow custom baseUrl per route
  src/server/utilities/base-url-resolver.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Integrate new baseUrl in API and Dynamic
  src/server/handlers/api.js
  src/server/render/tapestry-render.js
  src/server/utilities/base-url-resolver.js
  test/server/preview.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove API baseUrl modification
  src/server/handlers/api.js
  src/server/utilities/base-url-resolver.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add log for proxy
  package.json
  src/server/handlers/proxy.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix port number to 3000 and move logs to a file
  package.json
  src/server/index.js
  src/server/utilities/logger.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

set STDOUT error log by default
  src/server/utilities/logger.js
  yarn.lock
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

add logs on bin/start.js
  bin/start.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

local logger to console
  src/server/utilities/logger.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

5.0.0 it!
  package.json
Due: editorconfig-tools fix

add console log for NODE_ENV=development
  package.json
  src/server/utilities/logger.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

minor changes post review
  bin/start.js
  src/config/hot.js
  src/config/production-server.js
  src/server/utilities/logger.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

remove notify
  src/config/hot.js
  src/config/production-server.js
  src/server/index.js
  src/server/utilities/logger.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

fix integration tests
  package.json
Due: editorconfig-tools fix

bye bye flaky test
  test/server/redirects.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Bump version
  package.json
Due: editorconfig-tools fix

Allow site level api base path modification
  src/config/validator.js
  src/server/utilities/base-url-resolver.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update path per route
  src/server/utilities/base-url-resolver.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Added apiBaseUrl as an update to baseUrl
  CHANGELOG.md
  src/server/utilities/base-url-resolver.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

Update readme.md
  readme.md
Due: editorconfig-tools fix

_tapestry object now includes userCountry info in requestData
  src/server/handlers/dynamic.js
  src/server/render/render-success-tree.js
  src/server/render/render-tree-to-html.js
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write
