Repository shortlist-digital/tapestry-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "node_modules/.bin/eslint . --fix --cache",
    "node_modules/.bin/prettier --config .prettierrc --write",
    "git add"
  ]
}

Remove isomorphic-unfetch polyfill in client bundle, expose new MODULE_BUILD env var, only load promis is non-module, create new stats-module.json for module builds
  .eslintrc.json
  src/client/index.js
  src/config/createWebpackConfig.js
  src/config/env.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix document rendering script tags
  src/client/index.js
  src/config/env.js
  src/server/render/default-document/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Use isomorphic fetch instead of isomorphic-unfetch due to MJS transpilation issue
  package.json
  src/client/index.js
  src/server/data-fetching/fetcher.js
  test/integration/build.test.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

2.0.0-0
  package.json
Due: editorconfig-tools fix

Allow an App component to be passed to tapestry to render as the root component
  src/client/root.js
  src/server/handlers/dynamic.js
  src/server/render/tree-to-html.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

add support for an object export from a custom webpack config
  src/config/createWebpackConfig.js
  test/fixtures/build-with-custom-webpack/webpack.config.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Version update
  package.json
Due: editorconfig-tools fix

Add babel.js to package output
  package.json
Due: editorconfig-tools fix

Allowing custom HTML Doctype to be passed. If empty, it will be ignored
  src/server/render/tree-to-html.js
  test/server/document.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Adding tests for custom doctype
  test/server/document.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Bump version, update changelog
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Putting back disableDoctype option and adding customDoctype option instead
  src/config/validator.js
  src/server/render/tree-to-html.js
  test/server/document.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Changelog update and version bump
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

in development errors and error overlay in dev
  package.json
  src/config/createWebpackConfig.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

version bump
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

broadcast server compilation events to the client
  CHANGELOG.md
  bin/dev.js
  package.json
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

boot dev server before registering hooks
  bin/dev.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

2.3.1
  package.json
Due: editorconfig-tools fix

Lock version number of ps-tree to fix event-stream issue
  CHANGELOG.md
  package.json
  yarn.lock
Due: editorconfig-tools fix

refactor dynamic handler and render logic
  src/server/data-fetching/fetch-from-endpoint-config.js
  src/server/handlers/dynamic.js
  src/server/render/render-error-tree.js
  src/server/render/render-success-tree.js
  src/server/render/render-tree-to-html.js
  src/server/render/tapestry-render.js
  src/server/utilities/base-url-resolver.js
  test/server/cache.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

update repo meta
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

starting the webpack bit
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Reduce hash length in webpack output
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Upgrade babel dependencies
  yarn.lock
Due: none

Only include default error/missing-view in DEVELOPMENT env
  src/server/render/error-view.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

initial work
  .gitignore
  doczrc.js
  package.json
  src/docs/default-components.mdx
  src/docs/welcome.mdx
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

pass headers via proxy
  src/server/handlers/proxy.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove tapestry preview querystring in browser
  src/client/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Always cache preview content, relies on update to Tapestry WordPress Plugin
  src/server/handlers/dynamic.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Assume history support
  src/client/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove unnecessary code, remove normalisation of path
  src/server/handlers/dynamic.js
  src/server/render/tapestry-render.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update changelog
  CHANGELOG.md
Due: editorconfig-tools fix

Fix dynamic cache issue
  CHANGELOG.md
  package.json
  src/server/handlers/dynamic.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

serialize cache object for redis
  CHANGELOG.md
  package.json
  src/server/handlers/dynamic.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

fixed tests
  test/server/cache.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Revert cache preview behaviour
  CHANGELOG.md
  package.json
  src/client/index.js
  src/server/handlers/dynamic.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Check if request is preview before returning cached response
  CHANGELOG.md
  package.json
  src/server/handlers/dynamic.js
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write
