Repository shortlist-digital/tapestry-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

.lintstagedrc:

{
  "*.{md,sh,txt,xml,html,json}": [
    "editorconfig-tools fix",
    "git add"
  ],
  "*.js": [
    "node_modules/.bin/eslint . --fix --cache",
    "node_modules/.bin/prettier --config .prettierrc --write",
    "git add"
  ]
}

create another proxy file for the server bundling process to fix hot reloading
  src/config/hot-server.js
  src/config/hot.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

improve logging in new hot proxy
  src/config/hot.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

something wrong with my git, hopefully fixed
  readme.md
Due: editorconfig-tools fix

Bump version, update changelog
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Added missing externals
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Revert timeout update
  test/integration/build.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

1.4.4
  CHANGELOG.md
  package.json
Due: editorconfig-tools fix

Implement module build, temp remove babelrc
  bin/build.js
  src/config/babel.js
  src/config/createWebpackConfig.js
  src/server/render/default-document/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Implement babel in tests
  src/config/babel.js
  test/babel-register.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Attempt to utilise project babelrc
  package.json
  src/config/createWebpackConfig.js
  src/config/paths.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

override user targets
  src/config/babel.js
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Use browserslist to update env
  package.json
  src/config/babel.js
  src/config/createWebpackConfig.js
  src/config/paths.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove comments and empty strings from browserslist
  src/config/babel.js
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Only run on prod
  src/config/babel.js
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Don't render chunks to document
  src/config/createWebpackConfig.js
  src/server/render/default-document/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Support object syntax for proxies on a different domain
  src/server/handlers/proxy.js
  test/server/proxies.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Updated test to include wildcard
  test/server/proxies.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Check for falsey values
  src/server/handlers/proxy.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Upgrade to babel 7 RC, support browserlist file, fix __TAPESTRY_DATA__ render
  package.json
  src/config/babel.js
  src/config/createWebpackConfig.js
  src/config/env.js
  src/config/paths.js
  src/server/render/default-document/index.js
  test/babel-register.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove log
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

7.0.0
  package.json
  yarn.lock
Due: editorconfig-tools fix

Expose babel set-up as preset for testing
  babel.js
  src/config/babel.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fix redirect case sensitive lookup
  src/server/handlers/redirect.js
  test/server/redirects.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Simplify redirect search logic
  src/server/handlers/redirect.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Pass headers through from proxy source
  src/server/handlers/api.js
  test/server/proxies.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Attempting to fix this sporadic failing test
  test/server/redirects.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Update circleci config to v2
  .circleci/config.yml
  circle.yml
Due: none

Fix over-eager module script render
  src/server/render/default-document/index.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Remove runtime module, tidied repeated CLI logs
  src/config/babel.js
  src/config/createWebpackConfig.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Upgraded packages to remove deprecation warnings, replaced friendly-errors-plugin
  package.json
  src/config/createWebpackConfig.js
  yarn.lock
Due: editorconfig-tools fix, node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Add missing react-dom dev package
  package.json
  yarn.lock
Due: editorconfig-tools fix

Filter falsey routes from tapestry.config routes array
  src/server/routing/prepare-app-routes.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Filter by bool in correct place
  src/server/routing/prepare-app-routes.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Fixed integration test
  src/config/createWebpackConfig.js
  test/integration/start.test.js
Due: node_modules/.bin/eslint . --fix --cache, node_modules/.bin/prettier --config .prettierrc --write

Upgraded packages
  package.json
  yarn.lock
Due: editorconfig-tools fix
